<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.bbs.mapper.CommentMapper">

	<select id="commentCount" resultType="int">
		SELECT
		COUNT(*)
		FROM comment
	</select>

	<select id="commentList" parameterType="int" resultType="app.bbs.vo.CommentVO">
			select a.nickname, c.idx, c.bbs_idx, c.content, c.account_idx
			from comment c 
			join(select idx, nickname from account) a
			on c.account_idx=a.idx
		 WHERE bbs_idx = #{bbs_idx} ORDER BY idx DESC

	</select>

	<insert id="commentInsert" parameterType="app.bbs.vo.CommentVO">
		INSERT INTO
		comment (idx, bbs_idx, content, account_idx, regdate)
		VALUES(#{idx},#{bbs_idx},#{content},#{account_idx},now())
	</insert>

	<update id="commentUpdate" parameterType="app.bbs.vo.CommentVO">
		UPDATE comment
		SET
		CONTENT = #{content}
		WHERE idx = #{idx}
	</update>

	<delete id="commentDelete" parameterType="int">
		DELETE FROM comment WHERE idx = #{idx}
	</delete>


</mapper>